.Home_page {
    box-sizing: border-box;
}

.home_title_text{
    padding-left: 25%;
}

.search_banner{
    background-color: rgb(235, 0, 0);
    height: auto;
    padding: 40px;
}

.search_bar{
    width:auto;
    margin-right: auto;
    margin-left: auto;
    position: center;
    padding-left: 25%;

}


.image_icon_home{
    background-color: rebeccapurple;
    width: 150px;
    padding: 10px;
    font-size: 25px;
}


.home_footer{
    bottom: 0;
    position: absolute;
    background: #08080a;
    color: #dddddd;
    font-size: 14px;
    margin: 0;
    padding: 40px 0 0;
    padding-bottom: 80px;
}

/* .home_footer_row{
    background: #08080a;
    color: #dddddd;
    font-size: 14px;
    margin: 0;
    padding: 40px 0 0;
    
} */

.grid-container_home {
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #08080a;
    padding: 10px;
  }
  
  .grid-item_home_empty {
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #08080a;
    padding: 10px;
  }

  .grid-item_home {
    background-color: #08080a;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: left;
    padding-left: 20%;
    list-style-type: none;
  }

  .parent {
    margin: 1rem;
    padding: 2rem 2rem;
  }
  .child {
    display: inline-block;
    padding: 1rem 1rem;
  }




