.container{
    margin: 0 auto;
    height: 100%;
    text-align: left;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
    width: 100%;
    background-color: #8eb7ea;
}

.header{
    align-items: left;
    text-align: left;
    width: 250px;
}

.hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-width: 1px;
    border-top: 1px solid rgb(0, 0, 0);
    
}

.headertext{
    font-size: 22px;
    border-bottom: 0;
    margin: 10px 0;
    padding: 0;
}