.JobAd {
    margin-top: 10px;
    margin: 0 auto;
    width: 60%;
    height: 100%;
    text-align: center;
    display: block;
    padding: 8px;

}

.JobAd_panel {
    margin-bottom: 10px;
    border: 0;
}

.JobAd_Nav{
    background-color: grey;
}

.JobAd_Nav_Body{
    background-color:#f8f7f7;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.button_create{
    background-color: #6C1D43;
    color: #ffffff;
}

.Ad_detail{
    text-align: left;
    color: #ffffff;
    padding-left: 10px;
}

.Modified_AD{
    padding-left: 1.5%;
    width: 60%;
    color: black;
}

.Modified_AD_Text{
    padding-left: 1.5%;
    color: black;
}


.ADbutton_edit{
    padding-left: 1.5%;
    margin: 5px;
    width: 100px;
    text-align: center;
    background-color: yellow;
    color: black;
    font-size: 18px;
}

.ADbutton_delete{
    padding-left: 1.5%;
    margin: 5px;
    width: 100px;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 18px;
}

.JobAd_Nav_Body_search{
    position: relative;
    display: flex;
    padding: 0.5rem 1rem;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    color: #ffffff;
}

