.status_partner{
    padding: 30px
}

.reviews_box{
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: none;
    padding-top: 30px;
    padding-bottom: 80px;
}

.reviews_box_1{
    display: flex;
    justify-content: space-evenly;
}

.Review_header{
    display: flex;
    border-bottom: 0;
    padding: 0 0 20px 0;
    margin-left: 40px;
}

.review_details_text{
    padding-top: 10px;
}

.reviews_text{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);

} 